<style>
  .rand-letters {
    display: flex;

  }
  .letter {
    padding: 10px;
    margin: 5px;
    background-color: #3398dc;
    border: 2px solid black;
    border-radius: 2px;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
  }
</style>

<h1>Longest Word Game</h1>
<div class="rand-letters">
  <% @letters.each do |l| %>
  <p class="letter"><%= l.upcase %></p>
  <% end %>
</div>

<div class="new-game-form">
  <h2 class="question">What is the longest word you can find?</h2>
  <form action="score" method="post">
    <input type="text" name="answer">
    <input type="submit" value="Submit word!">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </form>
</div>
